.choose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}

.choose .item img {
    width: 8rem;
}

@media(max-width: 768px) {
    .choose {
        grid-template-columns: repeat(2, 1fr);
    }
}