.gym {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.gym .back {
    width: fit-content;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    background: none;
}

.gym .title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.gym .title .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding: 0.4rem 1rem;
    border-radius: 0.2rem;
    background: #920909;
}

.gym .title .column .star {
    display: flex;
    gap: 0.4rem;
}

.gym .address {
    display: flex;
    color: white;
    align-items: center;
    gap: 0.6rem;
}

.gym .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.grid .left {
    display: flex;
    flex-direction: column;
}

.grid .left h3{
    color: white;
    margin: 1.5rem 0;
}

.grid .left span{
    color: white;
}

.left .facilty {
    display: flex;
    gap: 1rem;
    color: gray;
}

.plan{
    cursor: pointer;
    border-radius: 0.4rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 1rem 0.8rem;
    justify-content: space-between;
    background: linear-gradient(to right, #B8779A, #89506D);
}
.plan .column {
    display: flex;
    flex-direction: column;
}

.plan .planNum{
    font-size: 0.9rem;
    font-weight: 500;
}

.plan .name{
    margin-top: 0.2rem;
    font-weight: 700;
    font-size: 1.3rem;
}

.plan .price {
    border-radius: 0.3rem;
    display: inline-block;
    font-size: 1.1rem;
    font-size: 500;
    padding: 0.3rem 0.8rem;
    background: #B8779A;
}
.grid .right {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    background: rgb(48, 47, 47);
    border-radius: 0.3rem;
    padding: 1.5rem 0.6rem;
}

.right > span{
    text-align: center;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}

@media(max-width: 768px) {
    .gym .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}